<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>803054658843-bp2gghkd4d8aphvta64lj9rngu8v4fbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803054658843-bp2gghkd4d8aphvta64lj9rngu8v4fbg</string>
	<key>API_KEY</key>
	<string>AIzaSyC1iRDKyusYmjClGoW8gOFiSPQux0UDl98</string>
	<key>GCM_SENDER_ID</key>
	<string>803054658843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nextacademy.SkateChalllengeApp</string>
	<key>PROJECT_ID</key>
	<string>skatechallenge-4d950</string>
	<key>STORAGE_BUCKET</key>
	<string>skatechallenge-4d950.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:803054658843:ios:273370684e8ffd32</string>
	<key>DATABASE_URL</key>
	<string>https://skatechallenge-4d950.firebaseio.com</string>
</dict>
</plist>